.header{
	font-family: linotype-didot,serif;
	font-weight: 100;
	font-style: normal;
	font-size: 10rem;
	text-align: center;
	margin-top: -40%;
	color: #545F66;
	position: relative;

}
.box{
	width: 300px;
	height: 300px;
	background-color: grey;
}
.line{
	width: .5%;
	height: 100%;
	background-color: blue;
	z-index: 10;
	position: fixed;
	right: 10rem;
}
.one{
	background-color: #ccc;
	padding: 6rem 0;
}
.two{
	background-color: #fff;
	padding: 6rem 0;
}

.background:nth-child(even){
	background-color: #9DC5BB;
}
.background:nth-child(odd){
	background-color: #EEE0CB;
}

.year{
	height: 5vh;
	width: auto;
}

.main p{
	margin-top: 2vh;
}

h2{
	font-family: linotype-didot,serif;
	font-weight: 100;
	font-style: normal;
	text-decoration: underline overline;
}


.nav a:hover{
	text-decoration: underline;
	font-weight: 600;
	
}
.nav a:link, .nav a:visited{
	color: #545F66;
}

.nav{
	z-index: 10;
	color: #545F66;
}

ul{
	list-style: none;
}


@media screen and (min-width: 40em){
	.nav{
		position: fixed;
		left: 5rem;
		top: 50%;
		transform: translateY(-50%);

}
}
