html{
	overflow-x: hidden;
}

header{
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 20px;
	text-align: center;
	max-width: 75rem;
	a{
		font-size: 1.25rem;
	}
	.item1{
		margin-top: -4vh;
		padding: 10px;
		grid-column: 1/3;
	}
	.item2{
		grid-column: 10;
	}
	.item3{
		grid-column: 11;
	}
	.item4{
		grid-column: 12;
	}

}

main{
	margin: 10vh auto;
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 20px;
	max-width: 75rem;
	span,img{
		grid-column: 1/-1; 
		width: 100%;
		grid-row: 1/2;
	}
	input{
		grid-column: 4/10;
	}
	p{
		// font-family: $font-vari;
	}

}

#image{
	max-width: 100%;
	height: 675px;
}

body{
	
	margin: 5vh auto;
	height: 200vh;
	width: 100vw;
	// overflow: hidden;
	box-sizing: border-box;
}


img,video{
	width: 100%;
}

.background1{
	width: 100vw;
	background-color: $color-red;
	transform: skewY(-10deg);
	.title2{
	// transform: skewY(-10deg);
	font-family: $font-h1;
	font-weight: 900;
	max-width: 75rem;
	margin: 0 auto;
	line-height: 1;
	font-size: 10rem;
	margin-top: -15vh;
	color: white;
	text-align: center;
	}
}


.story{
	transform: skewY(10deg);
	max-width: 75rem;
	margin: 0 auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, 150px);
	max-height: 850px;
	.title1{
		grid-column: 11/13;
		grid-row: 1 / 12;
	}
	.mainimage{
		grid-column: 1/7;
		grid-row: 2 / 4;
	}
	.title{
		grid-column: 6/11;
		grid-row: 3;
		align-self: end;
	}
	.para{
		grid-column: 7/11;
		grid-row: 2/4;
		align-self: center;
	}
}
.section3{
	max-width: 75rem;
	margin: 0 auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(16, 100px);
	.title2{
		grid-column: 11/13;
		grid-row: 1 / -1;
		align-self: center;

	}
	.subhead1{
		grid-column: 7/11;
		grid-row: 3;
	}
	.img1{
		grid-column: 1/7;
		grid-row: 3/7;
	}
	.ingredients{
		grid-column: 8/11;
		grid-row: 4;
	}
	.ing1{
		grid-column: 8/11;
		grid-row: 5;
	}
	.instructions1{
		grid-column: 2/10;
		grid-row: 7/9;
		align-self: center;

	}
	.subhead2{
		grid-column: 7/12;
		grid-row: 11;
	}
	.img2{
		grid-column: 1/7;
		grid-row: 11/15;
	}
	.ingredients2{
		grid-column: 8/11;
		grid-row: 12;
	}
	.ing2{
		grid-column: 8/11;
		grid-row: 13;
	}
	.instructions2{
		grid-column: 2/10;
		grid-row: 15/17;
		align-self: center;

	}

}




.section4{
	margin-top: 20px !important;
	transform: skewY(10deg);
	max-width: 75rem;
	margin: 0 auto;
	display: grid;
	// grid-gap: 20px;
	row-gap: 10px;
	column-gap: 20px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 50px);
	h2{
		font-size: 3rem;
	}
	.title3{
		grid-column: 11/13;
		grid-row: 1 / -1;
		align-self: center;
	}
	.q1{
		transform: skewY(-10deg);
		grid-column: 1/11;
		grid-row: 2;
		align-self: center;
	}
	.q2{
		transform: skewY(-10deg);
		grid-column: 1/11;
		grid-row: 5;
		align-self: center;
	}
	.q3{
		transform: skewY(-10deg);
		grid-column: 1/11;
		grid-row: 8;
		align-self: center;
	}
	.p1{
		transform: skewY(-10deg);
		grid-column: 2/10;
		grid-row: 3;
		align-self: center;
	}
	.p2{
		transform: skewY(-10deg);
		grid-column: 2/10;
		grid-row: 6;
		align-self: center;
	}
	.p3{
		transform: skewY(-10deg);
		grid-column: 2/10;
		grid-row: 9;
		align-self: start;
	}

}

footer{
	height: 50vh;
}

.section5{
	max-width: 75rem;
	margin: 0 auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 52.2px);
	margin-top: -10vh;
	.title4{
		grid-column: 11/13;
		grid-row: 1 / -1;
		// align-self: center;
	}
	.itemName{
		grid-column: 5/9;
		grid-row: 4;
	}
	.itemEmail{
		grid-column: 5/9;
		grid-row: 6;
	}
	.itemMess{
		grid-column: 4/10;
		grid-row: 8;
	}
	.itemButt{
		grid-column: 5/9;
		grid-row: 11;
		align-self: center;
		justify-self: center;
	}
	.input1{
		grid-column: 5/9;
		grid-row: 5;
	}
	.input2{
		grid-column: 5/9;
		grid-row: 7;
	}
	.input3{
		grid-column: 5/9;
		grid-row: 9/11;
	}
}











