body{
	max-height: 100vh;
}

.box{
	width: 300px;
	height: 300px;
	background-color: $color-box;
}
// .line{
// 	width: .5%;
// 	height: 100%;
// 	background-color: blue;
// 	z-index: 10;
// 	position: fixed;
// 	right: 10rem;
// }

.background:nth-child(even){
	background-color: $color-background1;
}
.background:nth-child(odd){
	background-color: $color-background2;
}

.year{
	height: 5vh;
	width: auto;
}

.main{

	p{
	
	@media screen and (min-width: 64em) {
		margin-top: 2vh;
	}
	}
	img{
		height:10%;
		width: auto;
	}

} 
.blur{
	-webkit-filter: blur(5px);
}

.bottom-img{
	margin: 0 auto;
	p{
		position: fixed;
		bottom: 2rem;
		width: 210px;
		left: 50%;
		transform: translateX(25%);
		margin-left: 50px;
	}
	img{
		position: fixed;
		bottom: 2rem;
		height: auto;
		width: 210px;
		right: 50%;
		transform: translateX(25%);
		@media screen and (max-width: 64em){
			width: 350px;
			height: auto;

		}

	}
}
.bottom-img2{
	img{
		height:20%;
		width: auto;
	}
}

.marginmain{
	margin-top: 10vh;
}
.margin2{
	margin-top: 5vh;
	margin-bottom: 10vh;
}




