.mobile-home{
	h1{
		transform: rotate(-90deg);
		font-size: 5.8rem;
		position: fixed;
		bottom: 5vh;
		// text-align: left;
		right: 200px;
		left: 0;
		margin: 0;
		-webkit-filter: blur(0) !important;
		text-transform: uppercase;
		@media screen and (min-width: 40em) and (max-width: 63.9375em) {
			font-size: 9rem;
			right: 600px;
			left: 0;
			bottom: 1rem;
		}

	}
}
header{
	position: fixed;
	top: 4rem;
	right: 4rem;
	z-index: 10;
	img{
		width:64px;
		height: auto;
		@media screen and (max-width: 63.9375em) {
			width:42px;
			height: auto;
			
		}


	}
	@media screen and (max-width: 63.9375em) {
		top: 2rem;
		right: 2rem;
	}
	
}
