.mobile-home{
	h1{
		transform: rotate(-90deg);
		font-size: 10rem;
		position: fixed;
		bottom: 20rem;
		// text-align: left;
		right: 400px;
		left: 0;
		margin: 0;

	}
	height: 100%;
	background-color: $color-background2;
}