.nav{
	display: block;
	position: fixed;
	right: -30rem;
	top: 50%;
	transform: translateY(-50%);
	animation-name: nav;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	font-size:5rem;
	z-index: 100;
	color: #545F66;
	a:link, a:visited{
		color: #545F66;
	}
	a:hover{
		text-decoration: underline;
		font-weight: 600;
	
	}
	ul{
		list-style: none;
	}
	.active{
		text-decoration: underline;
		font-weight: 800;
	}

	@media screen and (min-width: 64em){
		
	}
}


