.nav{
	z-index: 10;
	color: #545F66;
	a:link, a:visited{
		color: #545F66;
	}
	a:hover{
		text-decoration: underline;
		font-weight: 600;
	
	}

	@media screen and (min-width: 40em){
		position: fixed;
		left: 5rem;
		top: 50%;
		transform: translateY(-50%);
	}
}

ul{
	list-style: none;
}
