.header{
	height:224px;
	font-family: linotype-didot,serif;
	opacity: 1;
	font-weight: 100;
	font-style: normal;
	font-size: 10rem;
	text-align: center;
	margin-top: -20%;
	color: $color-text;
	position: relative;
	

}
h2{
	font-family: linotype-didot,serif;
	font-weight: 100;
	font-style: normal;
	text-decoration: underline;
}

.header-animation:after{
	content: '';
	animation-name: title;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	@media screen and (max-width: 64em){
		display: none;
	} 
}
.nav{
	font-family: linotype-didot,serif;
	font-weight: 100;
	font-style: normal;
	text-align: right;
}
p{
	font-family: garamond-premier-pro-display, serif;
	font-weight: 400;
	font-size: 2rem;
	@media screen and (min-width: 64em){
	font-size: 1.4rem;
}
}
.mobile-home{
	h1{
		font-family: linotype-didot,serif;

	}
	
}